
//Main palette
$sidebar-background-color: #132035;
$sidebar-color: white;
$main-header-background-color: #538dab;
$main-background-color: #ebf0f3;
$main-sheet-background-color: #ffffff;
$header-color: #6b6b6b;

//Colors
$template-white: #fafafa;
$template-blue: #3f51b5;
$template-green: #68cc43;
$template-red: #f44336;
$template-yellow: #c8a23b;

//Uperbar
$upper-color: #a1989a;
