<!doctype html>
<html>
<head>
  <title>angular-slide-menu Demo Application</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
  <meta name="viewport" content="initial-scale=1" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body ng-app="demoApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div ui-view layout="row" flex style="height: 100%;"  ng-controller="MainCtrl">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')"
  >

    <md-toolbar>

      <ss-sidenav menu="menu"></ss-sidenav>
    </md-toolbar>


  </md-sidenav>

  <div layout="column" flex role="main">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button"
                   aria-label="Menu Button"
                   hide-gt-md
                   ng-click="onClickMenu();">
          <md-icon
          md-svg-icon="<%= image_url 'menu.svg' %>"
          aria-label="Menu Icon">
          </md-icon>
        </md-button>

        <h2>Angular Material Sidenav</h2>

        <span flex></span>
      </div>
    </md-toolbar>

    <md-button class="md-raised md-primary">Primary</md-button>
  </div>


</div>



<!-- endbuild -->
</body>
</html>